h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: red;
    border-radius: 75px;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

canvas:hover {
    background-color: gainsboro;
    opacity: 50%;
    border-radius: 100px;
    box-shadow: 1px 1px 38px black;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px black;
    }

    to {
        box-shadow: 1px 1px 38px pink;
    }
}
